
.signupDiv{
    width: 45rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 80px #00000029;
    border-radius: 23px;
    opacity: 1;
    margin-top: 2rem;
    padding-bottom: 5rem;
}

.signupHeading{
    padding-top: 4.188rem;
    padding-left: 6.688rem;
}
.signupFormLabel{
    font: normal normal medium 18px/27px Poppins;
    letter-spacing: 0px;
    color: #0B1E34;
    opacity: 0.3;
    padding-left: 6.688rem;
    padding-top: 2.375rem;
}
.signupFormLabel2{
    font: normal normal medium 18px/27px Poppins;
    letter-spacing: 0px;
    color: #0B1E34;
    opacity: 0.3;
    padding-left: 6.688rem;
    padding-top: 0rem;
}

.signupFromInput{
    padding-left: 6.688rem;
    padding-top: 0.875rem;
}
.signupFromInput input{
    width: 33rem;
    outline: 0;
    border-width: 0 0 0.5px;
    border-color: grey;
}
.signupTaCLine{
    font: normal normal normal 12px/18px Poppins;
    letter-spacing: 0px;
    opacity: 1;
    padding-left: 6.688rem;
    padding-top: 1rem;
}
.signupFromBtn{
    height: 3.75rem;
    width: 12rem;
    background: #00AF92 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 12px #00AF9226;
    border-radius: 10px;
    opacity: 1;
    margin-top: 4.3rem;
    margin-left: 17.375rem;
}
.signupFormErrorMsg{
    padding-left: 6.688rem;
    color: red;
    font-size: 14px;
}

@media screen and (max-width: 985px){
    .signupDiv{
        width: 400px;
    }
    .signupHeading{
        padding-left: 15px;
    }
    .signupFormLabel{
        padding-left: 15px;
    }
    .signupFormLabel2{
        padding-left: 15px;
    }
    
    .signupFromInput{
        padding-left: 15px;
        
    }
    .signupFromInput input{
        width: 300px;
    }
    .signupTaCLine{
        padding-left: 15px;
    }
    .signupFromBtn{
        margin-left: 15px;
    }
    .signupFormErrorMsg{
        padding-left: 15px;
        color: red;
        font-size: 14px;
    }
}